In [1]:
import pandas as pd
import matplotlib.pyplot as plt
#! pip install mpld3
import mpld3
import json

In [2]:
usa_tickets_data = pd.read_json('mattgawarecki_ticket_to_ride/usa.tickets.json')
usa_tickets_data.head()

                      cities  points
0            [Boston, Miami]      12
1         [Calgary, Phoenix]      13
2  [Calgary, Salt Lake City]       7
3     [Chicago, New Orleans]       7
4        [Chicago, Santa Fe]       9

In [3]:
usa_cities_data = pd.read_json('mattgawarecki_ticket_to_ride/usa.cities.json')
usa_cities_data.head()

            0
0     Atlanta
1      Boston
2     Calgary
3  Charleston
4     Chicago

In [4]:
usa_routes_data = pd.read_json('mattgawarecki_ticket_to_ride/usa.routes.json')
usa_routes_data.describe()

,Atlanta,Boston,Calgary,Charleston,Chicago,Dallas,Denver,Duluth,El Paso,Helena,...,Saint Louis,Salt Lake City,San Francisco,Santa Fe,Sault Ste. Marie,Seattle,Toronto,Vancouver,Washington,Winnipeg
count,5,2,4,3,5,4,7,6,6,7,...,5,5,3,4,4,4,5,2,3,4
unique,5,2,3,2,5,4,6,6,6,7,...,4,5,3,3,4,3,4,2,3,4
top,"{'distance': 1, 'connections': [{'color': 'Any...","{'distance': 2, 'connections': [{'color': 'Any...","{'distance': 4, 'connections': [{'color': 'Any...","{'distance': 2, 'connections': [{'color': 'Any...","{'distance': 3, 'connections': [{'color': 'Bla...","{'distance': 2, 'connections': [{'color': 'Any...","{'distance': 4, 'connections': [{'color': 'Pin...","{'distance': 2, 'connections': [{'color': 'Any...","{'distance': 3, 'connections': [{'color': 'Any...","{'distance': 4, 'connections': [{'color': 'Any...",...,"{'distance': 2, 'connections': [{'color': 'Any...","{'distance': 3, 'connections': [{'color': 'Ora...","{'distance': 5, 'connections': [{'color': 'Ora...","{'distance': 2, 'connections': [{'color': 'Any...","{'distance': 3, 'connections': [{'color': 'Any...","{'distance': 1, 'connections': [{'color': 'Any...","{'distance': 2, 'connections': [{'color': 'Any...","{'distance': 1, 'connections': [{'color': 'Any...","{'distance': 2, 'connections': [{'color': 'Any...","{'distance': 6, 'connections': [{'color': 'Any..."
freq,1,1,2,2,1,1,2,1,1,1,...,2,1,1,2,1,2,2,1,1,1

In [5]:
_usa_tickets_1910_data = pd.read_json('mattgawarecki_ticket_to_ride/1910.usa.tickets.json')
_usa_tickets_1910_data = _usa_tickets_1910_data[['cities', 'points']]
_usa_tickets_1910_data.head(10)

                  cities  points
0   [Calgary, Nashville]      14
1     [Chicago, Atlanta]       5
2      [Chicago, Boston]       7
3    [Chicago, New York]       5
4  [Denver, Saint Louis]       6
5       [Duluth, Dallas]       7
6  [Houston, Washington]      10
7  [Kansas City, Boston]      11
8     [Las Vegas, Miami]      21
9  [Las Vegas, New York]      19

In [5]:
yellow_P1 = pd.read_json('yellow_p1.json')
red_P2 =  pd.read_json('red_P2.json')
green_P3 = pd.read_json('green_P3.json') 
blue_P4 = pd.read_json('blue_P4.json')